.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.navbar-list li {
    margin: 0 10px;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 999px;
    cursor: pointer;
}

.navbar-list li:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}